body { 
    font-family: Arial, sans-serif;
     text-align: center; 
     background-color: rgb(32, 32, 32);
     padding-top: 50px;
}

#chatbox {
     border: 1px solid #ccc;
      padding: 20px; 
      max-width: 300px;
       margin: 20px auto;
}
.btn { 
    display: block; 
    margin: 10px auto;
     padding: 10px; 
     background: #007BFF; 
     color: white; 
     border: none;
      cursor: pointer; 
}

.content{
    width: 50%;
    height: 500px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    
}